

body {
    main {
            top: 0;
            padding: 23px 0 0 100px;

            h1{
                font-size:54px;
                color: #40916c;
                margin-bottom: 0;
            }

            h2, h3 {
                font-size: 34px;
                color: #57cc99;
            }

            h4 {
                font-size: 28px;
                color: #1b4332;
                margin-bottom: 0;
            }

            p{
                margin-left: 60px;
                color: #005f73;
                font-size: 23.6px;
            }

            li {
                color: #0a9396;
                font-weight: bold;
                font-size: 20.3px;
                &:hover {
                    animation: fadeIn 1.2s;
                }
            }

        .myIntro {
            width: 650px;
            font-size: 20px;
        }

        .errorM {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;
            h1 {
                font-size: 65px;
                color: #000000;
                margin-bottom: 0;
            }
        }
        
       
        font-family: 'Sofia Sans';
    }
   
}
.projectDetail {
    display:flex;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }