


    main {
            padding: 23px 0 0 100px;
            display: block;
            h1{
                font-size: 35px;
                color: #40916c;
            }

            h2, h3 {
                font-size: 34px;
                color: #57cc99;
            }

            h4 {
                font-size: 28px;
                color: #1b4332;
            }

            p{
                margin-left: 60px;
                font-size: 21.2px;
            }

            li {
                color: #0a9396;
                font-weight: bold;
                font-size: 20.3px;
                display: block;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 3px;
                padding-right: 4px;
                &:hover {
                    animation: fadeIn 1.2s;
                }
            }

        .errorM {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;
            h1 {
                font-size: 65px;
                color: #000000;
                margin-bottom: 0;
            }
        }
        
        font-family: 'Sofia Sans';
    }
   

.projectDetail {
    display:flex;
}
 .myIntro {
    width: 650px;
    .myIntroText {
        font-size: 21.2px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
