

body {
    main {
            top: 0;
            padding: 23px 0 0 100px;

            h1{
                font-size:47.3px;
                color: #40916c;
                margin-bottom: 0;
            }

            h2, h3 {
                font-size: 34px;
                color: #57cc99;
            }

            h4 {
                font-size: 28px;
                color: #1b4332;
                margin-bottom: 0;
            }

            p{
                margin-left: 60px;
                color: #005f73;
                font-size: 21.2px;
            }

            li {
                color: #0a9396;
                font-weight: bold;
                font-size: 20.3px;
                display: block;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 3px;
                padding-right: 4px;
                &:hover {
                    animation: fadeIn 1.2s;
                }
            }

        .errorM {
            position: absolute;
            top: 0;
            padding: 23px 0 0 100px;
            h1 {
                font-size: 65px;
                color: #000000;
                margin-bottom: 0;
            }
        }
        
        font-family: 'Sofia Sans';
    }
   
}
.projectDetail {
    display:flex;
}
 .myIntro {
    width: 650px;
    .myIntroText {
        font-size: 21.2px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}